header, footer
  height: 1000px

.container
  border: 2px solid black
  display: inline-block
  margin-left: 30%
  height: 400px
  width: 400px
  overflow: hidden
  position: relative

.container-inside
  img
    display: block
    left: 50%
    margin-left: -800px
    top: 50%
    margin-top: -300px
    position: absolute

#showScroll
