body
  margin: 0
  padding: 0

.down
  margin-top: 2000px
  margin-bottom: 1000px

.flow
  position: fixed
  left: 604px
  top: 300px
  margin-bottom: 1000px
  transition: all 1s ease

.animate-top
  top: 200px

.hook
  position: static
  //left: 600px
  margin-bottom: 1000px
  //@media (min-width: 850px)
    margin-bottom: 990px

.footer
  height: 200px
  width: 100%
  background-color: #7fffff