body {
  margin: 0;
  padding: 0; }

header {
  background-color: #b58dff;
  height: 50px;
  width: 100%; }

footer {
  background-color: #b58dff;
  height: 5000px;
  width: 100%; }

article {
  background-color: #acff61;
  height: 2000px;
  float: left;
  width: 40%; }

aside {
  float: left;
  width: 20%;
  margin-top: 200px; }

.sticky {
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

main {
  width: 100%; }

.clearfix {
  display: table;
  content: "";
  clear: both; }

.sticky {
  position: fixed;
  z-index: 101; }

.stop {
  position: relative;
  z-index: 101; }

.main {
  width: 300px; }
