body {
  margin: 0;
  padding: 0; }

.down {
  margin-top: 2000px;
  margin-bottom: 1000px; }

.flow {
  position: fixed;
  left: 604px;
  top: 300px;
  margin-bottom: 1000px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.animate-top {
  top: 200px; }

.hook {
  position: static;
  margin-bottom: 1000px; }

.footer {
  height: 200px;
  width: 100%;
  background-color: #7fffff; }
