body {
  margin: 0;
  padding: 0; }

.down {
  margin-top: 2000px;
  margin-bottom: 1000px;
  z-index: 200; }

.flow {
  position: fixed;
  left: 604px;
  top: 300px;
  margin-bottom: 1000px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 200; }

.animate-top {
  top: 200px; }

.hook {
  position: static;
  margin-bottom: 1000px; }

.footer {
  height: 200px;
  width: 100%;
  background-color: #7fffff; }

header {
  height: 400px;
  width: 100%;
  background-color: #b58dff;
  z-index: -3; }

.tofix {
  position: fixed;
  top: -100px; }

.cont {
  z-index: 200; }
